[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
matplotlib = "*"
ipympl = "*"
sklearn = "*"
lightgbm = "*"
seaborn = "*"
torch = "*"
jupyter-contrib-nbextensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
